
.c{
    margin-bottom: 4rem;
    padding: 2rem;
}

.t2 {
    text-align: center;
}
.c1{
    width: 23rem;
    height: 7rem;
    background-color: red;
    border-radius: 10px;
    margin-top: auto;
}
.c2{
    width: 23rem;
    height: 15rem;
    background-color: red;
    border-radius: 10px;
}
.c3{
    width: 23rem;
    height: 15rem;
    background-color: red;
    border-radius: 10px;
}

.c4{
    width: 23rem;
    height: 15rem;
    background-color: red;
    border-radius: 10px;
}
.c5{
    width: 23rem;
    height: 6rem;
    background-color: red;
    border-radius: 10px;
}

