
.c{
    margin-bottom: 4rem;
    padding: 2rem;
}

.c1{
    width: 23rem;
    height: 2rem;
    background-color: red;
    border-radius: 10px;
}
.c2{
    width: 5rem;
    height: 5rem;
    background-color: red;
    border-radius: 50%;
}
.c3{
    width: 5rem;
    height: 5rem;
    background-color: red;
   
    border-radius: 50%;
}

.c4{
    width: 23rem;
    height: 2rem;
    background-color: red;
    border-radius: 10px;
}

.c5 {
    width: 23rem;
    height: 2rem;
    background-color: red;
    border-radius: 10px;
}