
.c{
    margin-bottom: 2rem;
    padding: 2rem;
}

.c1{
    width: 23rem;
    height: 2rem;
    background-color: red;
    border-radius: 10px;
}
.c2{
    width: 23rem;
    height: 0.5rem;
    background-color: red;
    border-radius: 10px;
}
.c3{
    width: 23rem;
    height: 0.5rem;
    background-color: red;
    border-radius: 10px;
}

.c4{
    width: 23rem;
    height: 0.5rem;
    background-color: red;
    border-radius: 10px;
}


.c5 {
    width: 23rem;
    height: 10rem;
    background-color: red;
    border-radius: 10px;
    margin-top: 4rem;
}

.bt1{
    width: 23rem;
    height: 2rem;
}

.menu {
    display: none;
}

.mostrar {
    display: block ;
}


.footer {
    display: none;
}

.mostrarf {
    display: block ;
}

.btn3{
    font-size: 2rem;
}